* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(30, 54%, 90%);
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  background-color: white;
  border-radius: 20px;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit";
  margin-top: 70px;
  padding: 40px;
  width: 700px;
}

img {
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%;
}

h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 20px;
}
h1 {
  color: hsl(24, 5%, 18%);
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  color: hsl(14, 45%, 36%);
}
ul,
ol,
li,
p {
  margin-bottom: 10px;
}
ul,
ol,
p {
  margin-bottom: 20px;
}
.prep-container {
  background-color: hsl(326, 100%, 99%);
  border-radius: 10px;
  padding: 20px;
}
.prep-title {
  color: hsl(334, 23%, 35%);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.prep-list {
  padding: 0 20px;
}
