* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(30, 54%, 90%);
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  background-color: white;
  border-radius: 20px;
  color: hsl(30, 10%, 34%);
  font-family: "Outfit";
  margin-top: 70px;
  padding: 40px;
  width: 700px;
}

img {
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%;
}

h1,
h2 {
  font-family: "Young Serif";
  margin-bottom: 20px;
  margin-top: 20px;
}
h1 {
  color: hsl(24, 5%, 18%);
  font-size: 2rem;
  font-weight: 500;
}
h2 {
  color: hsl(14, 45%, 36%);
  font-size: 1.5rem;
  font-weight: bold;
}
ul,
ol,
li,
p {
  margin-bottom: 10px;
}
ul,
ol,
p {
  margin-bottom: 20px;
}
li {
  color: hsl(30, 10%, 34%);
}
.prep-container {
  background-color: hsl(323, 75%, 95%, 0.5);
  border-radius: 10px;
  padding: 20px;
}
.prep-title {
  color: hsl(324, 48%, 31%);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.prep-list,
.ingredients-list,
.instructions-list {
  padding: 0 20px;
}
.prep-list li::marker {
  color: hsl(324, 48%, 31%);
}
.ingredients-list li {
  font-weight: normal;
  padding-left: 20px;
}
.ingredients-list,
.instructions-list li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
hr {
  border: 0.5px solid hsla(32, 10%, 34%, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}
.nutrition-table li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40%;
}
.nutrition-table li strong {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
